#noticias{
	width: 1280px;
	height: 1000px;
	margin: auto;
	display: flex;
	flex-wrap:wrap;
}
.noticias-up{
	width: 285px;
	height: 295px;
	margin: auto;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;

}
.noticias-do{
	width: 285px;
	height: 295px;
	margin: auto;
	display: flex;
	align-items:center;
	justify-content: center;
}

.titulo-n{
	display: flex;
    flex-direction:column;
    margin-bottom: 20px;
}

.not-img{
    display: flex;
    width: 285px;
    height: 295px;
    margin-bottom: 20px;
    
}


.not-img2{
    display: flex;
    width: 285px;
    height: 295px;
    margin-top: 200px;
    margin-bottom: 20px;    
}

#not-info{
	display: flex;

}

.ajusMain{
	display: block;
	width: 560px;
	height: 630px;
	margin-left:60px;
	margin-top: 40px;

}

.ajusimg{
	display: flex;
	align-items:flex-start;
    margin-top: 80px;
    margin-left: 20%; 

}

.galeria{
   margin-top: 10px;
   margin-left: 20%;
   margin-right: 20%;    
}

.section-gap2{
	padding: 120px 0;
	padding-top: 0px;
}

.tama{
	font-size: 30px;
	color: aquamarine;
}

#formu{
	width: 1280px;
	height: 550px;
	margin-left: auto;
	display: flex;
	flex-wrap:wrap;
	margin-top: 120px;
}

#formIngreso{
	
}

#nom{
	left:610px;
	top:8px;
	width:417px;
	height:36px;
	z-index: 0;
	margin-right:40px;  
	margin-bottom:30px; 
}

#nacionalidad{
	left:533px;
	top:8px;
	width:418px;
	height:36px;
	z-index:2;
}

#fechanac{
	left:290px;
	top:61px;
	width:189px;
	height:36px;
	z-index:1;
	margin-right:40px;  
	margin-bottom:30px; 
}

#ciudad{
	left:533px;
	top:62px;
	width:418px;
	height:36px;
	z-index:3;
	 
}

#telefono{
	left:61px;
	top:118px;
	width:890px;
	height:36px;
	z-index:4;
	margin-right:40px;  
	margin-bottom:30px; 
}

#email{
	left:61px;
	top:173px;
	width:418px;
	height:36px;
	z-index:5;
	margin-right:40px;  
	margin-bottom:30px; 
}

#profesion{
	left:533px;
	top:173px;
	width:418px;
	height:36px;
	z-index:6;
}

#alias{
	left:61px;
	top:231px;
	width:890px;
	height:36px;
	z-index:7;
	margin-right:40px;  
	margin-bottom:30px; 
}

#razonIngreso{
	left:61px;
	top:289px;
	width:890px;
	height:97px;
	z-index:8;
	margin-right:40px;  
	margin-bottom:30px; 
}

#armaSi{
	left:344px;
	top:424px;
	width:20px;
	height:20px;
	z-index:9;
	margin-right:40px;  
	margin-bottom:30px; 
}

#armaNo{
	left:407px;
	top:424px;
	width:20px;
	height:20px;
	z-index:10;
	margin-right:40px;  
	margin-bottom:30px; 
}

#wb_Text1{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   left:61px;
   top:422px;
   width:250px;
   height:19px;
   z-index:30;
}

#wb_Text1 div{
   text-align: left;
}

#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   left:309px;
   top:422px;
   width:35px;
   height:19px;
   z-index:31;
}

#wb_Text2 div{
   text-align: left;
}

#wb_Text3{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   left:372px;
   top:422px;
   width:35px;
   height:19px;
   z-index:32;
}

#wb_Text3 div{
   text-align: left;
}

#bEnviarSolicitud{
	left:62px;
	top:1993px;
	width:904px;
	height:39px;
	z-index:29;
}

